*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(.//imagensCompactadas/bg.png);
   color: #fff;
    
}
header{
    background-color: #1e1f22;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;

}

h1 , h2{
    text-align: center;
    margin: 20px 0;
}

h3{
    font-size: 26px;
    color: #cf961b;
}

p{
    font-size: 22px;
    color: #fff;
}
.boxProduto{
    display: flex;
    gap: 20px;
    max-width: 890px;
    margin:auto;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.boxTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.btn{
    padding: 20px;
    background-color: #cf961b;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.3s ease;
    transition: 0.3s;
    cursor:pointer;
   
}
.btn:hover{
    background-color: #d4274c;
    color: #fff;
    box-shadow: 0 0 10px #d4274c;

    a {
  color: white;
}
}

.boxImg img{
    width: 500px;
    height: auto;
    border-radius: 10px;
}

h3, p, .btn{
    margin: 10px 0;
}


ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.boxBebida img{
    width: 500px;
}
.boxBebida .boxTexto{
    gap: 10px;
   
    
}


